* {
    font-family: Arial, Helvetica, sans-serif;

}

hr {
    opacity: 0.75;
    margin: 0.5rem;
}

.DateInput_input {
    font-size: 1rem;
    color: #777;
}

.Select-input {
    font-size: 1rem;
    color: #777;
}

.DateRangePickerInput__withBorder {
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
}

.DateRangePickerInput_arrow_svg {
    fill: #777
}

#presettings .row {
    margin-bottom: 1rem;
}